<h1>Tous les articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li> <%= link_to article.title, article_path(1), class: 'article_title' %> </li>
    <!--<li> <%= article.body %> </li>
    <br/>-->
  <% end %>
</ul>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
